<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
    <div class="card__container">
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 1</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 2</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 3</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
      </div>
      
      
      <div class="card__container">
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 1</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 2</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
        <div class="card">
          <div class="card__content">
            <h3 class="card__header">Card 3</h3>
            <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="card__button">Read now</button>
          </div>
        </div>
      </div>    
</body>
</html>