<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
</head>

<body>
    <div class="container">
        <section id="content">
            <form action="">
                <div>
                    <h2><center>
                        Welcome to Test_case Management.  Here you will be able to manage your 
                        test_cases in an organized manner. Want to do some management, lets go inside 🙂
                    </center></h2>
                </div>
                <div>
                    <!-- <input type="submit" value="Log in" /> -->
                    <a href="#" style="font-size: 5cm;">Login</a>
                    <a href="#">Register</a>
                </div>
            </form><!-- form -->
            
        </section><!-- content -->
    </div><!-- container -->
</body>

</html>