<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/release_sheet_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>

</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Use Case</th>
            <th>Steps to execute</th>
            <th>Description</th>
            <th>QA comment</th>
            <th>peer comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>showSpeed</strong></td>
            <td>15</td>
            <td>The speed of the show/reveal</td>
            <td>The speed of the show/reveal</td>
            <td>The speed of the show/reveal</td>
          </tr>
          <tr>
            <td><strong>showEasing</strong></td>
            <td>'linear'</td>
            <td>The easing of the show/reveal</td>
          </tr>
          <tr>
            <td><strong>hideSpeed</strong></td>
            <td>50</td>
            <td>The speed of the hide/conceal</td>
          </tr>
          <tr>
            <td><strong>hideEasing</strong></td>
            <td>'linear'</td>
            <td>The easing of the hide/conceal</td>
          </tr>					
          <tr>
            <td><strong>width</strong></td>
            <td>'auto'</td>
            <td>The width that the data will be truncated to - <em>('auto' or px amount)</em></td>
          </tr>
          <tr>
            <td><strong>ellipsis</strong></td>
            <td>true</td>
            <td>Set to true to enable the ellipsis</td>
          </tr>
          <tr>
            <td><strong>title</strong></td>
            <td>false</td>
            <td>Set to true to show the full data on hover</td>
          </tr>
          <tr>
            <td><strong>afterShow</strong></td>
            <td> $.noop</td>
            <td>The callback fired after the show/reveal</td>
          </tr>
          <tr>
            <td><strong>afterHide</strong></td>
            <td>$.noop</td>
            <td>The callback fired after the hide/conceal</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
