<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/release_sheet_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>

</head>
<body>

    
  <a href="{% url 'release_scope' scope.release_id.id %}" id="btnn1" style="width: 10%;
  margin-left: 15px;
  text-decoration: none;
  text-align:center;
  float: left;
  padding-top: 7px;">Back</a>

<form action="{% url 'add_tc' scope.id %}" method="get">
    {% csrf_token %}
<button id="btnn" type="submit" style="float: right;margin-right: 15px;">+</button>
</form>

<a href="{% url 'logout' %}" id="btnn1" style="width: 10%;
margin-right: 20px;
text-decoration: none;
text-align:center;
float: right;
padding-top: 7px;">Logout</a>

<br><br>
    
    <table>
        <thead>
            <tr>
                {% if tcs %}
                {% with tcs|first as first_tc %}
                <th colspan="8" style="text-align:center;">Epic Link: <a href="" style="color: #EDEDED;">{{ first_tc.scope_id.epic }}</a></th>
                {% endwith %}
                {% endif %}
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="8">
                    {% if tcs %}
                    <span style="float: left;margin-left:10px;">
                    {% with tcs|first as first_tc %}
                    {{ first_tc.title }} 
                    {% endwith %}
                    </span>
                    <a style="display: flex; 
                    justify-content: flex-end;
                    font-size: larger;
                    float: left;
                    flex-wrap: wrap;
                    margin-left: 10px;
                    cursor: pointer;
                    color: lightgrey;
                    text-decoration: none;
                    z-index: 3;">✎</a>
                    {% endif %}
                    <span style="float: right;margin-right: 0px;"> 
                    <button style="font-size:11.5px;"><i class="fa fa-search"></i></button>
                    </span>
                    <span  style="float: right;margin-right: 3px;">
                    <select name="" id="">
                        <option value="">YTS</option>
                        <option value="">In Progress</option>
                        <option value="">Pass</option>
                        <option value="">Fail</option>
                        <option value="">QA Skip</option>
                    </select>
                    </span>
                    <span style="float:right;margin-right: 15px;">
                    <select name="" id="">
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    </span>
                    
                </th>
            </tr>
        </thead>
        <thead>
          <tr>
            <th style="width: 10px;">Edit - Delete - Save</th>
            <th style="width: 50px;">Use Case</th>
            <th style="width: 350px;">Steps to execute</th>
            <th style="width: 350px;">Expected Result</th>
            <th style="width: 300px;">Test Status - Assignee</th>
            <th style="width: 170px;">Tester's Comment</th>
            <th style="width: 170px;">Reviewer's Comment</th>
            <th style="width: 50px;">Testcase Author</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 10px;">
                <a class="card__title" style="display: flex; 
                justify-content: flex-end;
                font-size: x-large;
                flex-wrap: wrap;
                cursor: pointer;
                color: #696969;
                text-decoration: none;
                z-index: 3;">✎</a><br>
                <a class="card__title" style="display: flex; 
                justify-content: flex-end;
                font-size: xx-large;
                flex-wrap: wrap;
                color: #696969;
                cursor: pointer;
                text-decoration: none;">🗑</a>
            </td>
            <td style="width: 50px;"><strong>showSpeed</strong></td>
            <td style="width: 350px;">15 aajdh fkjsdhkjfh sdkjghkjsdh kfjsdhjfkdsh sjhdfkdjs fh sakjdfhjsdk fs dsjkfhdskhf s a fdskjadfh sdfkjsdhf sdkjf asjkdf skjdhfjsdfhfs sfdkjfd kjfdsjfdshdfkjfd  fjdfh
                hfjkhdskj fsdkj fhdskj kjsafhsdjkfh jkfsdhfkl skjdfhjksdh 
            </td>
            <td style="width: 350px;">The speed of the show/reveal</td>
            <td style="width: 300px;">
                <strong>Portal: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select>
                <br>
                <strong>RM: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select> <br>
                <strong>Internal: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select><br>
                <strong>BE: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select> <br>
                <strong>Ios: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select> <br>
                <strong>Android: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select><br>
                <strong>Automation: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Pass">In Progress</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select> <br>

            </td>
            <td style="width: 170px;">
                <b>Sanchaya: </b> ksdfj dslhflksd dslkhfksd slkdfk dflskjf <br><br>
                <b>Sanjana: </b> fsdkjhf sdjfhkl fdsjklfds slkdjfsd dskfj
            </td>
            <td style="width: 170px;">
                dslkjf ldskjf fsdkljf kdjsf 
            </td>
            <td style="width: 50px;">
                <select name="" id="">
                    <option value="" selected disabled>Tester</option>
                    <option value="Sanchaya">Sanchaya</option>
                    <option value="Jency">Jency</option>
                    <option value="Chandhiny">Chandhiny</option>
                    <option value="Prithvi">Prithvi</option>
                    <option value="Kedar">Kedar</option>
                    <option value="Manjunath">Manjunath</option>
                    <option value="Vaibhav">Vaibhav</option>
                    <option value="Jency">Pranjali</option>
                    <option value="Jency">HithaShree</option>
                    <option value="Shilpa">Shilpa</option>
                    <option value="Pradeep">Pradeep</option>
                </select>
            </td>
          </tr>

          {% if tcs %}
          {% for tc in tcs %}

          {% if editobj %}

          <tr>
            <td style="width: 10px;">
                <a style="display: flex; 
                justify-content: flex-end;
                font-size: x-large;
                flex-wrap: wrap;
                cursor: pointer;
                color: #696969;
                text-decoration: none;
                z-index: 3;">✎</a><br>
                <a href="{% url 'del_tcs' tc.id %}" style="display: flex; 
                justify-content: flex-end;
                font-size: xx-large;
                flex-wrap: wrap;
                color: #696969;
                cursor: pointer;
                text-decoration: none;">🗑</a>
            </td>
            <td style="width: 50px;"><strong>{{ tc.usecase }}</strong></td>
            <td style="width: 350px;"><pre>{{ tc.steps }} </pre></td>
            <td style="width: 350px;"><pre>{{ tc.expected_result }}</pre></td>
            <td style="width: 300px;">
                <strong>Portal: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_portal }}">{{ tc.ts_portal }}</option>
                </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_portal.uname %}
                    <option value="{{ tc.tester_portal.uname }}">{{ tc.tester_portal.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select>
                <br>
                RM: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_rm }}">{{ tc.ts_rm }}</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_rm.uname %}
                    <option value="{{ tc.tester_rm.uname }}">{{ tc.tester_rm.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select> <br>
                Internal: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_internal }}">{{ tc.ts_internal }}</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_internal.uname %}
                    <option value="{{ tc.tester_internal.uname }}">{{ tc.tester_internal.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select><br>
                BE: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_be }}">{{ tc.ts_be }}</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_be.uname %}
                    <option value="{{ tc.tester_be.uname }}">{{ tc.tester_be.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select><br>
                Ios: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_ios }}">{{ tc.ts_ios }}</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_ios.uname %}
                    <option value="{{ tc.tester_ios.uname }}">{{ tc.tester_ios.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select><br>
                Android: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_android }}">{{ tc.ts_android }}</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_android.uname %}
                    <option value="{{ tc.tester_android.uname }}">{{ tc.tester_android.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select><br>
                Automation: 
                <select name="" id="" disabled>
                    <option value="{{ tc.ts_automation }}">{{ tc.ts_automation }}</option>
                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="" id="" disabled>
                    {% if tc.tester_automation.uname %}
                    <option value="{{ tc.tester_automation.uname }}">{{ tc.tester_automation.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select><br></strong>
            </td>
            <td style="width: 170px;">
               <pre>{{ tc.tester_comment }} </pre>
            </td>
            <td style="width: 170px;">
              <pre>{{ tc.reviewer_comment }}</pre> 
            </td>
            <td style="width: 50px;">
               <strong> <select name="" id="" disabled>
                    {% if tc.tc_author.uname %}
                    <option value="{{ tc.tc_author.uname }}">{{ tc.tc_author.uname }}</option>
                    {% else %}
                    <option value="NA">NA</option>
                    {% endif %}
                </select> </strong>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
          

          {% if add %}
          <form action="{% url 'add_tc' scope.id %}" method="post">
            {% csrf_token %}

            <tr>
                <td style="width: 10px;">
                    <!-- <input type="submit" value="💾🔏🛅🔒"> -->
                    <input type="submit" value="💾">
                </td>
                <td style="width: 50px;"><strong>
                    <input type="text" placeholder="usecase" name="usecase" required>
                </strong></td>
                <td style="width: 350px;">
                    <textarea name="steps" id="" cols="30" rows="10" required style="resize: none;"> 
                        Steps to execute 
                    </textarea>
                </td>
                <td style="width: 350px;">
                    <textarea name="expected" id="" cols="30" rows="10" required style="resize: none;">
                        expected results
                    </textarea>
                </td>
                <td style="width: 300px;">
                    <strong>Portal: 
                    <select name="ts_portal" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_portal" id="" required>
                        <option value="" selected >Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select>
                    <br>
                    RM: 
                    <select name="ts_rm" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_rm" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select> <br>
                    Internal: 
                    <select name="ts_internal" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_internal" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select><br>
                    BE: 
                    <select name="ts_be" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_be" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select><br>
                    Ios: 
                    <select name="ts_ios" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_ios" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select><br>
                    Android: 
                    <select name="ts_android" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_android" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select><br>
                    Automation: 
                    <select name="ts_automation" id="" required>
                        <option value="YTS">YTS</option>
                        <option value="In_progress">In_progress</option>
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                        <option value="QA skip">QA Skip</option>
                        <option value="NA">NA</option>
                    </select>  &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="tester_automation" id="" required>
                        <option value="" selected disabled>Tester</option>
                        {% if users %}
                        {% for user in users %}
                        <option value="{{ user.uname }}">{{ user.uname }}</option>
                        {% endfor %}
                        {% endif %}
                        <option value="NA">NA</option>
                    </select><br></strong>
                </td>
                <td style="width: 170px;">
                    <textarea name="tcmnt" id="" cols="30" rows="10" required style="resize: none;">
                        Tester's comment
                    </textarea>
                </td>
                <td style="width: 170px;">
                    <textarea name="rcmnt" id="" cols="30" rows="10" required style="resize: none;">
                        Reviewer's comment
                    </textarea>
                </td>
                <td style="width: 50px;">
                    <strong>
                        <select name="tc_author" id="" required>
                            <option value="" selected disabled>Tester</option>
                            {% if users %}
                            {% for user in users %}
                            <option value="{{ user.uname }}">{{ user.uname }}</option>
                            {% endfor %}
                            {% endif %}
                            <option value="NA">NA</option>
                        </select>
                    </strong>
                </td>
            </tr>

          </form>
          {% endif %}

        </tbody>
      </table>

      
</body>
</html>
