<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/release_sheet_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>

</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Use Case</th>
            <th>Steps to execute</th>
            <th>Expected Result</th>
            <th>Test Status Portal</th>
            <th>Test Status RM</th>
            <th>Test Status Internal</th>
            <th>Test Status BE</th>
            <th>Test Status Ios</th>
            <th>Test Status Android</th>
            <th>TC Ownership</th>
            <th>Tester's Comment</th>
            <th>Reviewer's Comment</th>
            <th>Product's Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>showSpeed</strong></td>
            <td>15 aajdh fkjsdhkjfh sdkjghkjsdh kfjsdhjfkdsh sjhdfkdjs fh sakjdfhjsdk fs dsjkfhdskhf s a fdskjadfh sdfkjsdhf sdkjf asjkdf skjdhfjsdfhfs sfdkjfd kjfdsjfdshdfkjfd  fjdfh
                hfjkhdskj fsdkj fhdskj kjsafhsdjkfh jkfsdhfkl skjdfhjksdh 
            </td>
            <td>The speed of the show/reveal</td>
            <td>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select>
            </td>
            <td>The speed of the show/reveal</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
