<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/release_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>
</head>
<body>
    

<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__content">
          <div class="card__title" style="float: left;width:50%">Flex Grow</div>
          <a class="card__title" style="display: flex; justify-content: flex-end;font-size: larger;flex-wrap: wrap;margin-top: -30px;margin-right: 40px;">✎</a>
          <a class="card__title" style="display: flex; justify-content: flex-end;font-size: x-large;flex-wrap: wrap;margin-top: -30px;margin-right: 10px;">🗑</a>
          <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p>
          <button class="btn btn--block">Go Inside</button>
        </div>
      </div>
    </li>
    
    <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title"></div>
            <!-- <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p> -->
            
              <textarea name="" id="" cols="171" rows="2"></textarea>
            
            <button class="btn btn--block card__btn">Button</button>
          </form>
          </div>
        </div>
      </li>

      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">Flex Grow</div>
            <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p>
            <button class="btn btn--block card__btn">Button</button>
          </div>
        </div>
      </li>


      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">Flex Grow</div>
            <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p>
            <button class="btn btn--block card__btn">Button</button>
          </div>
        </div>
      </li>


      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">Flex Grow</div>
            <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p>
            <button class="btn btn--block card__btn">Button</button>
          </div>
        </div>
      </li>


      <li class="cards__item">
        <div class="card">
          <div class="card__content">
            <div class="card__title">Flex Grow</div>
            <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up. Lets add another line of text here see what happends then</p>
            <button class="btn btn--block card__btn">Button</button>
          </div>
        </div>
      </li>

  </ul>

  
  <button id="btnn">+</button>
</body>
</html>