<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="icon" type="image/x-icon" href="{% static '/images/tc_icon.ico' %}">
    <title>Testcase_manager</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/release_sheet_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function changeImg() {
            document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,forest,flower,fish,sky,desert)';
        }
        window.onload = changeImg;
    </script>

</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Use Case</th>
            <th style="width: 500px;">Steps to execute</th>
            <th style="width: 500px;">Expected Result</th>
            <th style="width: 170px;">Test Status</th>
            <th>TC Ownership</th>
            <th>Tester's Comment</th>
            <th>Reviewer's Comment</th>
            <th>Product's Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>showSpeed</strong></td>
            <td style="width: 500px;">15 aajdh fkjsdhkjfh sdkjghkjsdh kfjsdhjfkdsh sjhdfkdjs fh sakjdfhjsdk fs dsjkfhdskhf s a fdskjadfh sdfkjsdhf sdkjf asjkdf skjdhfjsdfhfs sfdkjfd kjfdsjfdshdfkjfd  fjdfh
                hfjkhdskj fsdkj fhdskj kjsafhsdjkfh jkfsdhfkl skjdfhjksdh 
            </td>
            <td style="width: 500px;">The speed of the show/reveal</td>
            <td style="width: 175px;">
                <strong>Portal: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>RM: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>Internal: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>BE: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>Ios: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>Android: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>
                <strong>Automation: </strong>
                <select name="" id="">
                    <option value="YTS">YTS</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="QA Skip">QA Skip</option>
                    <option value="NA">NA</option>
                </select> <br>

            </td>
            <td>
                Sanchaya <br> Jency <br> Sanjana <br> Prithvi
            </td>
            <td>
                <b>Sanchaya: </b> ksdfj dslhflksd dslkhfksd slkdfk dflskjf <br><br>
                <b>Sanjana: </b> fsdkjhf sdjfhkl fdsjklfds slkdjfsd dskfj
            </td>
            <td>
                dslkjf ldskjf fsdkljf kdjsf 
            </td>
            <td>
                sjdkh fsdjkhf fjdshf dfjkfh fhfh
            </td>
          </tr>
        </tbody>
      </table>
</body>
</html>
